<h1 translate="priceMachine.title"></h1>
<div class="priceMachineList" >
    <!--<table ng-table="tableParams" class="table" show-filter="true">-->
     <span>{{getPM(1,1)}}</span>
    <!--<table class="table">
        <thead>s
            <tr>
                <th>
                    <span translate="priceMachine.machineType"></span>
                </th>
                <th ng-repeat="machineType in machineTypes">
                    {{machineType.name}}
                </th> 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="membershipType in membershipTypes">
                <td>
                    <span>{{membershipType.name}}</span>
                </td>
                <td ng-repeat="machineType in machineTypes">
                    <!--<span>{{getCurrentPrice(machineType.id, membershipType.id).price}}</span>
                    <span>{{getPM(machineType.id, membershipType.id)}}</span>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>


