<h1 translate="menu.ticketStatus"></h1>
<div class="ticketStatusList" >
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="ticketStatus in $data">
            <td 
                data-title="'ticketStatus.label' | translate" 
                sortable="'label'"
                filter="{'label':'text'}">
                {{ticketStatus.label | lowercase}}
            </td>
            <td class="listBtn2">
                <div class="btn-group" 
                     ng-show="ticketStatus.label.toUpperCase() !== 'OUVERT'
                     && ticketStatus.label.toUpperCase() !== 'CLOS'">
                    <a class="btn btn-sm btn-default" href="#/ticketStatus/ticketStatus-edit/{{ticketStatus.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button class="btn btn-sm btn-danger" 
                        ng-really-click="softRemove(ticketStatus)"
                        ng-really-message="{{'ticketStatus.confirmation.remove'|translate}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    </table> 
</div>

