<h1 translate="purchase.title"></h1>
<div class="header-control">
    <div class="btn-group" >
        <a class="btn btn-success" href="#/purchases/purchase-edit">{{'button.create'| translate}} <span class="glyphicon glyphicon-plus"> </span></a>
    </div>
</div>
<div class="purchaseList" >
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="purchase in $data">
            <td 
                data-title="'purchase.purchaseDate' | translate" 
                sortable="'purchaseDate'"
                filter="{'purchaseDate':'text'}">
                {{purchase.purchaseDate}}
            </td>
            <td 
                data-title="'purchase.supply' | translate" 
                sortable="'supplyLabel'"
                filter="{'supplyLabel':'text'}">
                {{purchase.supply.label}}
            </td>
            <td 
                data-title="'purchase.user' | translate" 
                sortable="'userName'"
                filter="{'userName':'text'}">
                {{purchase.user|prettyUser}}
            </td>
            <td style="width:80px" 
                data-title="'purchase.quantity' | translate" 
                sortable="'quantity'"
                filter="{'quantity':'text'}">
                {{purchase.quantity}}
            </td>
            <td style="width:80px" 
                data-title="'purchase.discount' | translate" 
                sortable="'disount'"
                filter="{'disount':'text'}">
                {{purchase.discount}} {{purchase.discountPercent ? "%" : currency}}
            </td>
            <td style="width:140px"
                data-title="'purchase.purchasePrice' | translate" 
                sortable="'purchasePrice'"
                filter="{'purchasePrice':'text'}">
                {{purchase.purchasePrice}} {{currency}}
            </td>
            <td class="listBtn2">
                <div class="btn-group">
                    <a class="btn btn-sm btn-default" href="#/purchases/purchase-edit/{{purchase.id}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <button class="btn btn-sm btn-danger" 
                            ng-really-click="softRemove(purchase)"
                            ng-really-message="{{'purchase.confirmation.remove'|translate}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    </table> 
</div>

