.ticketEdit .title{
    margin-top: 50px;
}

.ticketEdit .creation{
    margin-top : 20px;
    font-weight: bold;
}

.ticketEdit .description{
    margin-top: 30px;
}

.ticketEdit .status{
    margin-top: 30px;
}
.ticketEdit .status .block-status{
    border : 2px solid #00cccc;
    border-radius: 10px;
    text-align: center;
}

.ticketEdit .status span{
    font-size: 14pt;
    font-weight: bold;
}
.ticketEdit .close-ticket{
    margin-top: 30px;
    font-weight: bold;
}
